* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: 400;
}


section {
    height: 100vh;

    display: grid;
    /* grid-template-columns: 248px auto; */
    grid-template-columns: 13% 87%;
    grid-template-rows: 7% auto;
    grid-template-areas: 
        "aside header"
        "aside main";
}


/* aside */
aside {
    grid-area: aside;
    width: 100%;    
    display: flex;
    flex-flow: column nowrap;
    padding-top: 45px;
    background-color: rgb(1, 86, 160);

    /* border: 1px solid black; */
}

.aside-link-container {
    height: 80%;
    font-size: 17px;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    padding-top: 48px;
    /* border: 1px solid black; */
}

aside img { 
    max-width: 50px; 
    align-self: center; 
    filter: invert();
}

aside a {
    padding: 5px 0;
    padding-left: 16px; 
    color: rgba(255, 255, 255, 0.795);
    text-decoration: none;    
}

aside a:hover  {
    background-color: rgba(65, 65, 252, 0.103);
    color: white;
    border: 1px solid black;
    border-left: 4px solid white;
}

aside a span {
    padding-left: 11px;
}
/* aside */

/* header  */
header {
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /* border: 1px solid black; */
}
/* header */

/* Profile */
.profile {
    grid-area: main;
    background-color: rgb(234, 234, 250);
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    grid-template-areas: 
        "profile infos";
    border: 1px solid black;

    grid-gap: 90px;
}



.container-foto {
    grid-area: profile;

    height: 70%;
    width: 70%;
    /* width: 410px;
    height: 620px; */



    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: center;
    margin-left: 200px;
    margin-top: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.container-foto img {
    height: auto;
    width: 60%;
    min-width: 210px;
    margin-top: 15px;
    border-radius: 10px;
}

.desc {
    /* border: 1px solid black; */
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}

.desc span {
    display: block;
    margin-left: 45px;
}

.turma {
    border: 1px solid black;
    margin-top: 55px;
}

.container-infos {
    grid-area: infos;

    height: 75%;
    width: 60%;
    /* width: 700px;
    height: 640px; */

    margin-top: 25px;
    margin-left: 50px;

    display: flex;
    flex-flow: column nowrap;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    /* justify-content: center; */
}

.container-infos p {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 5px 0;
}

.container-infos p span {
    display: inline-block;
    width: 250px;
    margin-right: 150px;
    text-align: left;
    border: 1px solid black;
}

@media (max-width: 1600px) {
    .container-infos p span {
        width: 250px;
        margin-right: 60px;
        /* text-align: left; */
        
        border: 1px solid purple;
    }
}
@media (max-width: 1400px) {
    .container-infos p span {
        width: 250px;
        margin-right: 26px;
        /* text-align: left; */
        
        border: 1px solid purple;
    }
}
@media (max-width: 1200px) {
    .container-infos p span {
        width: 225px;
        margin-right: 5px;
        /* text-align: left; */
        
        border: 1px solid purple;
    }

    .profile {
        
    }

    .container-foto {
        margin-left: auto;
    }

    .container-infos {

    }
}




/* Notas */
.notas {
    grid-area: main;

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

caption {
    margin-bottom: 100px;
    font-size: 18px;
}

table {
    width: 80%;
    border-collapse: collapse;

    margin-bottom: 200px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    text-align: center;
    background-color: #d1d0d0;
}
/* Notas */




/* Media Query */
/* @media (max-width: 768px) {
    section {
        grid-template-columns: minmax(124px, 13vw) auto;
    }

    .aside {
        max-width: 248px;
        min-width: 124px;
    }
} */